<!DOCTYPE html>
<html>
  <head>
    <title>$title$</title>
    <link href="style/style.css" rel="stylesheet" type="text/css"/>
    <link href="favicon.png" rel="icon" type="image/png" />
    <link href="feed.xml" rel="alternate" type="application/atom+xml"/>
    <meta charset='utf-8'>
    <meta name="author" content="Neko"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>Nekoboard</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/archive">Archive</a></li>
        <li><a href="https://github.com/nekoboard"><span id="github">Code</span></a>
       
      </ul>
    </nav>
